/* COMMON SETTINGS AND UTILITIES */
.nopadd {
  padding-left: 0;
  padding-right: 0;
}

.mb-20 {
  margin-bottom: 20px;
}

h1 {
  font-size: 39px;
  font-weight: bold;
}

h3 {
  font-size: 29px;
  font-weight: bold;
}

p {
  font-size: 22px;
}

.text-white{
  color: #fff;
}

.text-coral {
  color: #b0c5fe;
}

/* NAVBAR */
header > nav {
  height: 66px;
  background-color: #fff;
  line-height: 66px;
  vertical-align: middle;
}

nav ul li {
  display: inline-block;
  font-size: 15px;
  color: #031c4e;
  font-weight: bold;
}

nav .col-xs-5 ul li {
  margin-right: 15px;
}

nav .col-xs-4 ul li {
  margin-left: 15px;
}

#nav-logo {
  height: 28px;
}

#nav-burger {
  font-size: 21px;
  color: #006aff;
}

#sign-up {
  background-color: transparent;
  color: #006aff;
  border: 1px solid #006aff;
  line-height: normal;
  padding: 8px 12px;
  border-radius: 5px;
}

/* JUMBOTRON */
#bool-jumbo {
  padding-top: 50px;
  padding-bottom: 70px;
  background-image: url("../img/sfondo-pesci.svg");
  background-position: center;
  background-size: cover;
}

.sign-up-form {
  padding: 25px 20px 30px;
  background-color: #fff;
  border-radius: 5px;
}

.sign-up-form input, .sign-up-form button {
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 10px;
  font-size: 16px;
}

#create-account {
  color: #fff;
  background-color: #579aff;
  font-size: 15px;
  border: none;
}

.sign-up-form button {
  color: #6b6b6b;
  background: transparent;
  font-size: 15px;
  font-weight: bold;
  border: none;
  box-shadow: 1px 1px 1px #ccc;
}

#logo-ggl {
  height: 20px;
  vertical-align: middle;
}


/* MEDIA QUERY MIN WIDTH 992px */
@media screen and (min-width:992px) {

  h1 {
    font-size: 62px;
  }

  nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    margin: 0 auto;
  }

  #bool-jumbo {
    margin-top: 66px;
  }

}
