/* COMMON SETTINGS AND UTILITIES */
* {
  font-weight: bold;
}

a {
  color: inherit;
}

nav ul li:hover, a:hover, button:hover, .create-account:hover {
  opacity: 0.5;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.chev-down:after {
  content: "";
  border-style: solid;
  border-width: 2px 2px 0 0;
  display: inline-block;
  height: 8px;
  width: 8px;
  left: 6px;
  top: -0.23em;
  position: relative;
  vertical-align: middle;
  transform: rotate(135deg);
  margin-right: 10px;
}

.nopadd {
  padding-left: 0;
  padding-right: 0;
}

.padb-50 {
  padding-bottom: 50px;
}

.padt-50 {
  padding-top: 50px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-10 {
  margin-bottom: 10px;

}

.mb-20 {
  margin-bottom: 20px;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.float-right {
  float: right;
}

.font-weight-normal {
  font-weight: normal;
}

.font-weight-bold {
  font-weight: bold;
}

h1 {
  font-size: 39px;
  font-weight: bold;
}

h3 {
  font-size: 29px;
  font-weight: bold;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 22px;
}

.text-white{
  color: #fff;
}

.text-coral, .main-five>.container>.row>[class*="col-"]>ul>li:nth-child(2) {
  color: #b0c5fe;
}

.text-lightblue {
  color: #006aff;
}

.text-darkblue {
  color: #031c4e;
}

.text-grey, footer a {
  color: #5c6a88;
}

.text-lightgrey {
  color: #7d879f;
}

/* NAVBAR */
header > nav {
  height: 66px;
  background-color: #fff;
  line-height: 66px;
  vertical-align: middle;
}

nav ul li {
  display: inline-block;
  font-size: 15px;
  color: #031c4e;
  font-weight: bold;
}

nav .col-md-5 ul li {
  margin-right: 10px;
}

nav .col-md-4 ul li {
  margin-left: 15px;
}

#nav-logo {
  height: 25px;
  position: relative;
  top: -3px;
}

#nav-burger {
  font-size: 21px;
  margin-right: 15px;
}

#sign-up {
  background-color: transparent;
  border: 1px solid;
  line-height: normal;
  padding: 8px 12px;
  border-radius: 5px;
}

/* JUMBOTRON */
#bool-jumbo {
  padding-top: 50px;
  padding-bottom: 70px;
  background-image: url("../img/sfondo-pesci.svg");
  background-position: center;
  background-size: cover;
}

.sign-up-form {
  padding: 25px 20px 30px;
  background-color: #fff;
  border-radius: 5px;
  color: #031c4e;
}

.sign-up-form input, .sign-up-form button {
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 10px;
  font-size: 16px;
}

.create-account {
  color: #fff;
  background-color: #579aff;
  font-size: 15px;
  border: none;
}

.sign-up-form button {
  color: #6b6b6b;
  position: relative;
  background-color: transparent;
  font-size: 15px;
  font-weight: bold;
  border: none;
  box-shadow: 1px 1px 1px #ccc;
  /* background-image: url("../img/sign-up.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 2% 50%; */
}

.sign-up-form button::before {
  content: "";
  position: absolute;
  background-image: url("../img/sign-up.png");
  background-size: 20px;
  min-width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  left: 10px;
  display: block;
}

#logo-ggl {
  height: 20px;
  vertical-align: middle;
}

.terms-service {
  color: #031c4e;
  font-size: 12px;
  font-weight: bold;
}

.terms-service a {
  text-decoration: underline;
}

/* MAIN */
.main-one, .main-three, .main-six {
  background-color: #f3f5f9;
  padding-top: 30px;
  padding-bottom: 30px;
}

.main-one img {
  height: 77px;
  margin: 10px 5px;
}

.subs {
  font-size: 16px;
}

.chevron-r::after, .main-five>.container>.row ul li a::after {
  content: ">";
  margin-left: 7px;
}

.border-l {
  border-left: 2px solid #ccc;
  padding-left: 10px;
}

.main-two .row div.text-capitalize > h4 {
  line-height: 30px;
}

.main-two .row .row img, .main-four .row img {
  max-height: 41px;
}

.main-three > .container > .row > [class*="col-"] > img {
  width: 65%;
  max-width: 600px;
}

.circles-blue span {
  width: 20px;
  height: 20px;
}

.circles-blue span i:hover {
  background-color: #006aff;
  border-radius: 50%;
  opacity: 0.4;
}

.gradient-blue {
  background-image: linear-gradient(to bottom, #0042c1 , #001E9A);
}

.main-five > .container > .row ul {
  border-bottom: 1px solid;
  padding: 10px 15px;
}

.main-five > .container > .row ul:last-child {
  border-bottom: none;
}

.main-five > .container > .row ul li {
  display: inline-block;
  font-size: 16px;
}

.main-five > .container > .row ul li:first-child {
  width: 20%;
}

.main-five > .container > .row ul li:last-child {
  float: right;
  color: #0095c5;
}

.carosel {
  background-color: #fff;
  padding: 50px 10px;
  border-radius: 5px;
  width: 60%;
  display: inline-block;
  vertical-align: middle;
}

.carosel img {
  max-width: 250px;
  width: 100%;
}

.btn-create {
  background-color: #fff;
  color: #006aff;
  line-height: normal;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
}

/* FOOTER */
footer {
  background-color: #031c4e;
}

footer > .container > .row > [class*="col-"] > p {
  color: #fff;
  font-weight: bold;
}

footer .socials i {
  font-size: 25px;
  margin-right: 15px;
}

footer .container .row .subs a {
  line-height: 36px;
  font-size: 16px;
}

footer {
  position: relative;
}

#shark {
  position: absolute;
  bottom: 40px;
  left: 40px;
}

#shark img, #shark span {
  float: left;
  height: 64px;
  margin-bottom: 20px;
}

#shark span {
  background-color: #fff;
  border-radius: 5px;
  line-height: 24px;
  padding: 8px;
  width: 350px;
  font-size: 16px;
  margin-right: 30px;
  position: relative;
}

#shark span::before {
  content: "";
  position: absolute;
  border-style: solid;
  border: 5px solid #fff;
  right: -5px;
  bottom: 15px;
  transform: rotate(45deg);
}

/* MEDIA QUERY MIN WIDTH 768px */
@media screen and (min-width:768px) {

  .main-two .row > .col-sm-8 > .row > .col-sm-6 {
    min-height: 200px;
  }

  .main-three > .container > .row > [class*="col-"]::before,
  .main-three > .container > .row > [class*="col-"]::after {
    font-size: 60px;
    color: #031c4e;
  }

  .fa[class*="fa-chevron-"] {
    font-size: 40px;
    margin: 0 10px;
    color: #031c4e;
    vertical-align: middle;
  }

  .fa[class*="fa-chevron-"]:hover {
    opacity: 0.5;
  }

}


/* MEDIA QUERY MIN WIDTH 992px */
@media screen and (min-width:992px) {

  h1 {
    font-size: 62px;
  }

  nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    margin: 0 auto;
  }

  #bool-jumbo {
    margin-top: 66px;
  }

  .main-two .row > .col-sm-8 > .row > .col-sm-6 {
    min-height: 160px;
  }

  #shark {
    position: absolute;
    bottom: 40px;
    right: 40px;
    left: auto;
  }

  #shark img, #shark span {
    float: right;
  }

}
